<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
</head>
<body>
    <form action="{{ url_for('process') }}" method="post">
        <label for="input_data">Input Data:</label>
        <input type="text" name="input_data" required>
        <button type="submit">Process</button>
    </form>
</body>
</html>
